<div class=dd>
    <div class="registration-form" >
        <form #application="ngForm" >

            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>

            <div class="form-group">
                <input required maxlength="30" [(ngModel)]= "applicationModel.firstname" [ngModelOptions]="{standalone: true}" type="text" required minlength="2" class="form-control item" id="firstname" placeholder="firstname">
            </div>

            <div class="form-group">
                <input required maxlength="30" ngModel [(ngModel)]="applicationModel.lastname" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="lastname" placeholder="lastname">
            </div>

            <div class="form-group">
                <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="applicationModel.email" [ngModelOptions]="{standalone: true}" type="text" maxlength="200" class="form-control item" id="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input required pattern="[0-9]{8}"  type="text" class="form-control item" [(ngModel)]="applicationModel.phonenumber" [ngModelOptions]="{standalone: true}" placeholder="Phone Number">
            </div>

            <div class="form-group">
                <input required ngModel [(ngModel)]='applicationModel.birth_date'[ngModelOptions]="{standalone: true}" type="text" onfocus="(this.type='date')" class="form-control item" id="birth-date" placeholder="Birth Date">
            </div>

            <div class="form-group">
                <input required type="number" class="form-control item" [(ngModel)]="applicationModel.expiriance"[ngModelOptions]="{standalone: true}" placeholder="Number of Years of Experience">
            </div>












            <div class="form-group">
                  <div class="custom-file">
                    <input required type="file"(change)="selectfile($event)" class="custom-file-input"
                    [(ngModel)]="applicationModel.resume"[ngModelOptions]="{standalone: true}"
                    
                    id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">upload your resume</label>
                  </div>
            </div>












                <div class="form-inline">
                  <label class="form-group" for="inlineFormCustomSelect">availability :          </label>
                  <select  class="form-control item"
                  [(ngModel)]="applicationModel.availability" id="inlineFormCustomSelect" [ngModelOptions]="{standalone: true}">
                    <option selected required>0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                  </select>
                </div>
                <br>

                <div class="form-group">
                    <textarea class="form-control item" [(ngModel)]="applicationModel.message" [ngModelOptions]="{standalone: true}">
                            leave us a message...
                    </textarea>
                </div>


            <div class="form-group">
                <button type="button" [disabled]="application.invalid"  class="btn btn-block create-account">Apply</button>
            </div>
            <div *ngif="application.invalid && application.touched" ><small class="form-control item">verify your info</small></div>
        </form>

        <div class="social-media">
            <h5>thank you for applying for this job</h5>
            <div class="social-icons">
                <a href="https://www.facebook.com/Infinitymgt.fr/"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Linkedin"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </div>



{{applicationModel}}





































    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>



</div>